#content {
  margin: 0 auto;
  width: 900px;
  font-family: Georgia, serif;
  color:white;
  font-size: 13px;
  line-height: 15px;
}

p {
  font-family: Georgia;
  font-size: 13px;
  line-height: 15px;
}

#masthead {
  position: relative;
  align-content: center;
  height: auto;
  min-width: 1000px;
  min-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#headline {
  font-family:'Allerta Stencil', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-bottom:1%;
  color: white;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
text-align: center;
padding-bottom: 1%;
color:white;
}

#spacecraft {
  text-align: center;
  padding: 10px;
}

#img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#caption {
  display: block;
  position:relative;
   height: 50px;
   bottom: 10px;
   left: 0px;
   width: auto;
   color:black;
   background:white;
   text-align:center;
   font-weight:bold;
}

#read {
  font-family:'Allerta Stencil', sans-serif;
  font-size: 30px;
  text-align: center;
  padding-bottom:1%;
  color: white;
  padding-top: 15px;
}

.link {
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: white;
}

li{
  display: block;
}

a:link, a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
