body {font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
}

div {
  display: block;
}

element.style {
  margin-top: 0px;
}

.s-navbar-section {
  text-align:left;
  width: 100%;
  position: fixed;
  z-index: 210;
  background: #676AA7;
  font-family: "Nunito Sans", sans-serif;
  font-style: bold;
  background-image: url("img/masthead_resume@2x.jpg");
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: right;
  padding:inherit;
  margin-top: -20px;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
  line-height: 30px;
}

.s-nav li {
  display: flex;
}

.s-font-body {
  color: white;
  text-transform: uppercase;
}


a:link, a:visited {
  color: #676AA7;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #40384D;
}

#headshot {
  padding-top: 70px;
}

.image1 {
  display: block;
  margin: auto;
  border-radius: 100%;
  border: 5px solid #40384D;
}

h2 {
  font-family: 'Nunito sans', sans-serif;
  font-style: bold;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  color: #40384D;
}

h3 {
  font-family: 'Nunito sans', sans-serif;
  font-size: 30px;
  font-style: bold;
  text-transform: uppercase;
  text-align: center;
  color: #40384D;
}


#text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: regular;
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
  color: #676AA7;
}


.icons {
  color: #676AA7;
  display: inline;
  text-align: center;
}

.icons li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.aboutme {
  padding-top: 5px;
}

.image2 {
  float: left;
  padding-right: 20px;
  width: 150px;
}

.section_1_content {
  color: #676AA7;
  padding-left: 100px;
  padding-right: 100px;
}


.jobtitle {
padding-top: 10px;
font-weight: black;
font-size: 22px;
color: #40384D;
}

.organization {
  font-weight: bold;
  color: #40384D;
}

.date {
  font-size: 15px;
padding-bottom: 10px;
color: #676AA7;
}

.description {
  font-weight: 400;
padding-bottom: 50px;
}

.image3 {
  width: 800px;
  text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 5px solid #40384D;
}

#degrees {
  text-align: center;
  padding-top: 10px;
  font-weight: regular;
}

#do li {
  display:grid;
  text-align: center;
  line-height: 30px;
}
