.nav-top {
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.red {
  color: #f23030;
}
.overlay >  {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: red;
    z-index: 1;

}

.hero-container {
  position:relative;
  text-align: center;
  color: #fff;
}

.hero-image {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 30%;
  width: 100%;
background-color: #000;
opacity: .7;
   }

.hero-hed {
  text-align: center;
  color: white;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: bold;
  font-size: 100px;
  opacity: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
}
.hero-sub{
  font-size: 22px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.byline {
  color: white;
  font-family: 'Roboto', sans-serif;
}

p{
  text-align: center;
  font-weight: lighter;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

@media (max-width:600px){

  hero-hed {
    font-size: 1.5em;
  }
}

.container {
    padding-left: 70px;
    padding-right: 70px;
}

footer {
  font-size: 10px;
  text-align: center;
  background-color: black;
  color: white;
  line-height: 10px;
  padding:20px;
}

.quote {
    font-family: 'Roboto', sans-serif;
    color: #f23030;
    font-size: 2em;
    font-weight: : 700px;
    text-align: left;
    padding: 15px 0 15px 0;
    border-top: 1px solid #f23030;
    border-bottom: 1px solid #f23030;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.quote-attribution {
  font-size: 0.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: left;
  color: #000;
}
iframe {
float: right;
padding-right: 20px;
}

h2 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 30px;
  color: #f23030;
  text-align: center;
}
