#title {
  font-family: cooper-black-std,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}

#byline {
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
}
