
#title {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  font-weight: normal;
  color: white;
  padding: 10px;
}

#name {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  text-align: center;
  color: 	#BA55D3;
  background-color: white;
  padding: 20px;
}


#byline {
  font-family: Helvetica;
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  color: white;
}

#subheadings {
  font-family: cooper-black-std, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 35px;
  text-align: center;
  color: 	#BA55D3;
  background: white;
}

#content p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: white;
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
}

#images {
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

#captions {
  display: block;
  position:relative;
  left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: auto;
  color:grey;
  text-align:center;
  font-weight: lighter;
  font-family: Arial;
  font-size: 10px;
}

#read {
  font-family:cooper-black-std, sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 5px;
  padding-bottom:5px;
  color: #BA55D3;
  background: white;
}

blockquote {
  font: 22px normal Georgia, serif;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #BA55D3;
  margin-left: 50px;
  padding-left: 15px;
  line-height: 24px;
  font-style: italic;
  text-align: center;
}

.link {
  text-align: center;
  font-size: 12px;
  font-family: Helvetica, serif;
  margin: 0px;
  padding: 0px;
  color: white;
  line-height: 20px;
}

li{
  display: block;
}

a:link, a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #BA55D3;
  background-color: transparent;
  text-decoration: none;
}
